@charset "utf-8";

/* body */
body {
    background: #fbfbfb;
}
footer {
    margin-top: 40px;
}

/* navbar */
.navbar {
    background-color: #fff;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
}

/* header */

.carousel {
    width:100%;
    height: 50%;
    margin:-20px;
}


.carousel img{
    width:100%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.item,
.active,
.carousel-inner img{
    width: 100%;
}


















p.bunya {
    /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

